.mission-section {
  @extend .intro-section;
}

.mission-section__content {
  @include container(860px);
}

.mission-content__title {
  @extend .intro-section__title;
  @include ritmo-font-size(18px);
  @include container(860px);
  margin-bottom: ritmo(4);

  @include mq(break-medium-small) {
    @include ritmo-font-size(22px);
  }
}

.mission-content__img {
  display: block;
  margin: ritmo(4) auto;
}

.mission-section__content__link-participate {
  display: inline-block;
  color: palette(black);
  background: palette(white);
  border: 1px solid palette(black);
  border-radius: 100px;
  margin: ritmo(4) auto ritmo(8) auto;
  padding: ritmo(3) 20px;
  @include ritmo-font-size(14px);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background: palette(black);
    color: palette(white);
  }
}

/*
** Partners section
*/

.mission-partners {
  @include container(860px);

  &:before {
    content: "";
    display: block;
    width: 95%;
    margin: 0 auto ritmo(6) auto;
    height: 1px;
    background: palette(grey);
  }
}

.mission-partner {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid palette(grey);
  margin-bottom: ritmo(6);
  padding-bottom: ritmo(6);

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: ritmo(6);

    .mission-partner__logo-img {
      max-width: 150px;

      @include mq($until: break-small) {
        max-width: 150px;
      }
    }
  }

  @include mq($from: break-small) {
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

.mission-partner__logo {
  width: 100%;

  @include mq($from: break-small) {
    width: 20%;
    margin-right: 30px;
  }
}

.mission-partner__logo-img {
  display: block;
  margin: 0 auto;
  max-width: 130px;

  @include mq($until: break-small) {
    max-width: 100px;
    margin-bottom: 30px;
  }
}

.mission-partner__presentation {
  text-align: center;

  @include mq($from: break-small) {
    text-align: left;
    width: 80%;
  }

  a {
    font-weight: 700;
    color: palette(black);

    &:hover {
      text-decoration: underline;
    }
  }
}
