.profile-cards {
  background: palette(white);
  text-align: center;
  overflow: hidden;
}

.profile-cards__content {
  @include container(1240px);
  padding: 0 10px;
  margin: ritmo(5) auto;
  display: flex;
  flex-wrap: wrap;
}

.profile-cards__content-item {
  display: block;
  color: palette(black);
  margin-bottom: ritmo(6);

  @include mq($until: break-medium) {
    flex: 0 0 auto;
    width: span(full);
  }

  @include mq($from: break-medium-small, $until: break-large) {
    flex: 0 0 auto;
    @include gutters;
    width: span(2);
  }

  @include mq($from: break-large) {
    flex: 0 0 auto;
    @include gutters;
    width: span(1.5);
  }

  &.filtro-out {
    display: none;
  }
}

.profile-cards__content-item__link {
  color: palette(black);
  display: block;
}

.profile-cards__content-item__link-image {
  background: palette(grey);
  position: relative;
  padding-bottom: 66.66%;
  width: 100%;
  overflow: hidden;

  &:after {
    bottom: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(palette(white), 0);
    border-bottom-color: palette(white);
    border-width: 10px;
    margin-left: -10px;
    z-index: 5;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    max-width: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.profile-cards__content-item__link-name {
  margin-top: ritmo(3);
  margin-bottom: ritmo(2);
  font-weight: 700;
  @include ritmo-font-size(14px);
  @include ritmo-leading(3);
}

.profile-cards__content-item__link-role {
  font-weight: 400;
  @include ritmo-font-size(14px);
  @include ritmo-leading(4);
}

