{{ define "main" }}
<div class="mission-section">
  <div class="mission-section__content">
    <h1 class="mission-content__title">{{ .Description }}</h1>
    {{ .Content }}
    <a href='{{ "/participate" | relLangURL }}' class="mission-section__content__link-participate">Want to be part of this community?</a>
  </div>

  <div class="mission-partners">

    <h1 class="mission-content__title">Aboard in this mission:</h1>

    <div class="mission-partner">

     <div class="mission-partner__logo">
        <a target="_blank" href="http://www.fesagency.pt/"><img class="mission-partner__logo-img" src="/images/partners/fes-logo.svg"></a>
     </div>

    <div class="mission-partner__presentation">
        <p>
          <a target="_blank" href="http://www.fesagency.pt/">FES Agency</a> is a dedicated PR & Communication agency for startups and creative projects. The concept and curation of the Portuguese Women in Tech platform comes from the will to make things happen and to help make the difference in the entrepreneurial ecosystem, giving the opportunity for women to show what they’re capable off and the beautiful things they are connected to.
        </p>
     </div>

    </div> <!-- mission-partner -->

    <div class="mission-partner">

     <div class="mission-partner__logo">
        <a target="_blank" href="https://marzeelabs.org/"><img class="mission-partner__logo-img" src="/images/partners/mz-logo.svg"></a>
     </div>

    <div class="mission-partner__presentation">
        <p>
          <a target="_blank" href="https://marzeelabs.org/">Marzee Labs</a> is a distributed web agency focused on big editorial media platforms, mainly based in Portugal. Built upon top-notch tech people, we bring community-driven talent and strong leadership to all the projects we are involved with. The Web is our playground and state-of-the-art tech are our tools. We respect and value diversity within our team, and this is why we decided to support Portuguese Women in Tech.
        </p>
     </div>

    </div> <!-- mission-partner -->

    <div class="mission-partner">

     <div class="mission-partner__logo">
        <a target="_blank" href="http://porto.io/"><img class="mission-partner__logo-img" src="/images/partners/porto_io-logo.svg"></a>
     </div>

    <div class="mission-partner__presentation">
        <p>
          <a target="_blank" href="http://porto.io/">Porto i/o</a> is the digital hub and coworking space of reference in Porto area. It is the go-to place for all the creative and tech communities of locals, expats and nomads. We are proud to bring positive impact to the city digital life, and bring people together. This is why we are gladly involved in this powerful movement that is being designed by some of our beautiful coworkers.
        </p>
     </div>

    </div> <!-- mission-partner -->

  </div> <!-- mission-partners -->

</div> <!-- mission-section -->
{{ end }}

